<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      Your guarantee to your product is expired,
      your product is: <%= @product.name %>.<br>
    </p>
  </body>
</html>